*{font-family: Arial, Helvetica, sans-serif;}
ul{list-style: none;}
html,body{overflow-x: hidden;}
.bg-silver{background-color: #F2F2F2FF;}
.fs-75{font-size: .75em;}
.title{font-size: 2em;}
#navbar{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#desktop-nav-list{display: none;}
#logo svg{
    width: 25px;
    height: 55px;
    color: #303030FF !important;
}
#nav-icons{display: flex; align-items: center;}
#nav-icons a{margin: 0 12px;}
#nav-icons svg{
    height:50px;
    width: 20px;
    color: #303030FF;
    }
#globalnav-menutrigger-button{border: 0;}
#second-nav{ background-color: #fbfbfd;}
.swiper-slide, .phone-slide{
    padding: 10px 0;
    text-align: center;
    margin: 0 12px;
}
.swiper-slide h6, .phone-slide h6{color: #1D1D1FFF;}
.swiper-slide span, .phone-slide span {
    font-size: 0.625em;
    color: #bf4800;
    margin-bottom: -10px;
}
.swiper-button-next, .swiper-button-prev{
    color: #000;
    height: 100%;
    top: 15px;
    width: 30px;
    background-color: #fbfbfd;
}
.swiper-button-next{border-left: 1px solid #ccc; right: 0;}
.swiper-button-prev{border-right: 1px solid #ccc; left: 0;}
.swiper-button-next:after{font-size: 20px;}
.swiper-button-prev:after{font-size: 20px;}
.swiper-slide img, .phone-slide img{ height: 54px;}
#burger-nav{
    background-color: #fbfbfd;
    height: 100vh;
    display: none;
}
#burger-nav a{
    color: #333336FF;
    font-size: 1.75em;
    margin: 40px;
}
#burger-nav li{margin: 15px 0;}
.fa-xmark{
    padding: 20px;
    text-align: end;
    display: none;
}
.phones{display: none;}
#shop-iphone p{color: #6f6f6f;}
#titanium span, #newphoria span, .for-you-card span{color: #bf4800;}
#titanium h6, #newphoria h6{
    color: #8B887EFF;
    font-size:  1.1875em;
}
#titanium p{
    color: #f5f5f7;
    font-size: 1em;
}
#titanium-head{
    background: url('../img/headline_titanium.jpg') center/contain no-repeat;
    height: 45px;
    margin: 20px 0;
    }
#titanium-learn{padding:20px 0;}
#titanium{background-color: #000;}
#titanium-bottom{
    background: url('../img/titanium.jpg') center/contain no-repeat;
    height: 50vh;
}
.learn-more{
    font-size:  1.1875em;
    color: #2997ff;
}
.buy{
    background-color: #0071e3;
    color: #fff;
    padding: 5px 15px;
}
#newphoria-img{
    background: url('../img/hero_iphone.jpg') center/cover no-repeat;
    height: 20vh;
}
#power h3{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #1e3791 0%, #2948b1 40%, #3153c6 55%, #385fda 60%);
}
#power h6{font-size: 1.2em;}
#power-bottom{
    background: url('../img/3dene.png') center/contain no-repeat;
    height: 50vh;
}
#tour-bottom{
    background: url('../img/guided_tour.jpg') center/cover no-repeat;
    height: 50vh;
}
#tour-texts{display: none;}
#tour h3{
    font-size: 2.4em;
    color: #000 !important;
    font-weight: 600;
}
.for-you-img{
    width: 125px;
    height: 180px;
    margin: auto;
}
.for-you-img img{height: 100%;}
.colors-img img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.colors-img{
    width: 91px;
    height: 45px;
    margin: auto;
}
#for-you-cards{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
#for-you-cards h5{
    color: #1d1d1f;
    padding: 5px 0 20px 0;
    font-size: 1em;
}
.details{
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.detail{padding: 15px 0;}
.for-you-card p{font-size: .8em;}
.details2-top{
    background: url('../img/icon_design1.png') center/contain no-repeat;
    height: 41px;
    width: 55px;
    margin: auto;
}
.details3-top{background: url('../img/icon_dynamic2.png') center/contain no-repeat;}
.details4-top{background: url('../img/icon4.png') center/contain no-repeat;}
.details6-top{background: url('../img/icon_sos5.png') center/contain no-repeat;}
.details7-top{background: url('../img/icon_6.png') center/contain no-repeat;}
.details8-top{background: url('../img/icon_7.png') center/contain no-repeat;}
.details9-top{background: url('../img/icon9.png') center/contain no-repeat;}
.detail-top{
    margin: auto;
    height: 38px;
    width: 38px;
}
#save-phone h2{
    font-weight: 500;
    padding: 30px 5px;
}
.save-card h5{
    font-size: 1.5em;
    font-weight: 500;
    /* padding: 40px 35px 0 35px; */
}
.save-card a{
    color: #06c;
    font-size: .9em;
}
#card1-bottom{background: url('../img/savei_phone.jpg') center/contain no-repeat;}
#card3-bottom{background: url('../img/save3.jpg') bottom/contain no-repeat;}
.save-card span, .save-card2 p{color: #6e6e73;}
.save-card h5{padding: 30px;}
#card2-center{
    background: url('../img/save2.jpg') center/contain no-repeat;
    height: 20vh;
}
.save-card a{ padding: 20px 0;}
.save-card-img{height: 30vh;}
#phones-bg{
    background: url('../img/phones1.jpg') center/cover no-repeat;
    height: 25vh;
}
#phones h3{
    font-weight: 600;
    padding: 30px;
}
#phones p{
    font-size: 1.1em;
    padding: 0 30px;
}
#featured1-bg{
    background: url('../img/feature1.jpg') center/contain no-repeat;
    height: 20vh;
}
#accerssories h2, .featured-card h3, .title, #phones h3, #save-phone h2{font-weight: 600;}
.featured-card{margin: 20px 0;}
.featured-card p{
    font-size: 1.1em;
    padding: 5px 30px;
}
#featured3-bg{
    background: url('../img/feature3.jpg') 100% -1px/contain no-repeat;
    height: 20vh;
}
#featured2-bg{
    background: url('../img/featured2.jpg') center/cover no-repeat;
    height: 40vh;
}
#shop-row .card {background-color: transparent;}
#ios-bottom{
    background: url('../img/ios17.jpg') 40% -105px/cover no-repeat;
    height: 60vh;
    width: 100%;
}
.an-iphone1{background-color: #fff !important;}
.an-iphone1 p, an-iphone1 a{font-size: 1.1em;}
#ios2-bottom{
    background: url('../img/switching_to_iphone.jpg') center/cover no-repeat;
    height: 40vh;
}
#ios3-bottom{
    background: url('../img/privacy.jpg') 50% -100px/cover no-repeat;
    height: 50vh;
}
#accerssories h2{font-size: 2em;}
.an-iphone1{margin: 10px 0;}
#get-more-apple{
    background: url('../img/apple_one__cq8ojsqxitea_large.jpg') center/contain no-repeat;
    width: 90px;
    height: 30px;
    margin: auto;
    padding-top: 50px;
}
#get-more h2{
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0;
}
#get-more p{
    font-size: 1.4em;
    padding: 20px 0 10px 0;
}
#get-more-icons{
    background: url('../img/bundle__dlqe12erfzsm_large.jpg') center/contain no-repeat;
    width: 300px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
}
.tv-body img{
    width:64px;
    height: 26px;
}
#footer-first p, #footer-first li{font-size: .9em; color: #0000007a;}
#footer-first{
    padding: 30px 0;

}
#footer-logo-sec svg{
    width: 48px;
    height: 48px;
}
#footer-logo-sec i, #footer-logo-sec span{
    font-size: .9em;
    color: #000000bd;
}
#footer-logo-sec{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    color: #000000bd;

}
.accordion-item button{
    font-size: .8rem;
    color: #000000bd;
}
.accordion-body li{ 
    font-size: .8em;
    color: #0000007a;
}
#footer-end a{color: #0071e3;}
#footer-end {color: #000000b8;}
#footer-end{font-size: .8em;}
.desktop-footer{display: none;}
/* FOR DESKTOP */
@media only screen and (min-width: 768px){
    #logo{display: none;}
    #nav-icons{display: none;}
    #desktop-nav-list{display: initial;}
    #desktop-nav-list li{
        display: inline-block;
        margin-left: 2vw;}
    #desktop-nav-list li a{
        color: #000000cc; 
        font-weight: 600;
    }
    #navbar{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .phones{display: flex;}
    .swiper{display: none;}
    #shop-iphone p,#shop-iphone a, #titanium p, #newphoria p, #power p{font-size: 1.3125em;}
    #shop-iphone p{
        color: #1d1d1f;
        padding-top: 20px;
    }
    #titanium{padding-top: 30px !important;}
    #titanium span{
        padding-top: 30px !important;
        display: block;
    }
    #titanium-bottom{
        transform: rotate(-90deg);
        height: 70vh;
        margin-top: -10%;
    }
    #titanium{max-height: 100vh}
    #titanium-learn{padding:20px 0;}
    #newphoria h3, #power h3{font-size: 2.5em;}
    #newphoria h6{font-size: 1.2em;}
    #newphoria-img{height: 50vh;}
    #power-top, #power-img{display: inline-block}
    #power-bottom{height: 100vh;}
    #power-top{margin: 30vh auto;}
    #tour-top{display: none;}
    #tour-bottom{
        height: 100vh;
        margin: 20px;
        position: relative;
        border-radius: 30px;
    }
    #tour-texts{
        position: absolute;
        display: initial;
        top: 40%;
        left: 15%;
        text-align: start;
    }
    #tour-texts h3{
        color: #fff !important;
        font-size: 2.7em;
    }
    #tour-texts a{padding: 10px;}
    .for-you-img{
        width: 180px;
        height: 250px;
        margin: auto;
    }
    #for-you h2{font-size: 3em; font-weight: bold;}
    .colors-img{ margin: auto;}
    .for-you-card{width: 20%;}
    .save-card h5{
        width: 60%;
        margin: auto;
        font-weight: bold;
    }
    #save-phone h2{font-size: 3em;}
    .save-card a{font-size: 1.1em;}
    .save-card p{width: 80%;margin: auto;}
    #phones-bg{
        background-position: 50% 200px;
        width: 100%;
        height: 100%;
    }
    #phones{position: relative;}
    #phones-text{
        width: 30%;
        position: absolute;
        top: 6%;
        z-index: 1;
        right: 35%;
    }
    #phones .container{height: 80vh;}
    .featured1, .featured2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-card p{
        font-size: 1.2em;
        width: 60%;
        margin: auto;
    }
    #featured1-bg{
        height: 70vh;
        width: 50%;
    }
    #featured2-bg{
        background-size: cover;
        order: -1;
        height: 80vh;
        width: 50%;
    }
    #featured3-bg{
        height: 60vh;
        background-position: center;
    }
    #ios2-botttom, #ios3-bottom{
        height: 40vh;
    }
    #accerssories h2{font-size: 3em;}
    .featured3 h3{font-size: 2.7em;}
    #ios-bottom{ height: 80vh;}
    .an-iphone-text h3{
        font-size: 3em; 
        font-weight: bold;
    }
    .an-iphone1 h3{
        font-size: 2.5em;
        font-weight: bold;
    }
    .an-iphone-text p, .an-iphone-text a{font-size: 1.2em;}
    .an-iphone-text{
        position: absolute;
        left: 40%;
    }
    #get-more h2{font-size: 3em;}
    #get-more .container{height: 70vh;}
    .an-iphone1{position: relative;}
    #get-moree{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #get-more-icons{
        order: -1;
        height: 60%;
        width: 60%;
        margin: 20vh auto;
    }
    #get-more-apple{
        height: 40%;
        width: 40%;
    }
    #footer-accardion{display: none;}
    .desktop-footer{display: block;}
    .desktop-footer ul li a{
        font-size: .8em;
        font-weight: 400;
        color: #000000b8;
        text-decoration: none;
    }
    .desktop-footer li a:hover{text-decoration: underline}

}
